{%- if block.settings.enable_quick_add -%}
    <script src="{{ 'component-quick-add-to-cart-button.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{%- liquid
    assign grid_items_per_page =  block.settings.grid_items_per_page | default: 4
    assign card_desktop_items_per_row = block.settings.grid_desktop_items_per_row
    if has_aside
        assign card_desktop_items_per_row = card_desktop_items_per_row | plus: 1
    endif
-%}
<div class="CollectionDesign CollectionDesign--grid FilterProducts__Content Animate {% if block.settings.animation_type == 'staggering' %}Animate--staggering{% endif %}" data-mobile-count="{{ mobile_items_per_row }}" data-desktop-count="{{ desktop_items_per_row }}" {{ block.shopify_attributes }}>
    {%- paginate collection.products by grid_items_per_page -%}
        <div class="Grid">
            {%- for product in collection.products -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 4 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                <div class="Grid__Item 1/{{ mobile_items_per_row }}--small 1/{{ desktop_items_per_row }}--medium-up"> 
                    {% render 'product-card', product: product, lazy_load: lazy_load, section_is_grid_width: section.settings.section_width, card_desktop_items_per_row: card_desktop_items_per_row, card_mobile_items_per_row: mobile_items_per_row, show_rating: block.settings.show_rating, show_product_info: block.settings.show_product_info, show_vendor: block.settings.show_vendor, show_swatches: block.settings.show_swatches, show_quick_add: block.settings.enable_quick_add %}
                </div>
            {%- endfor -%}
        </div>
        {%- render 'pagination', paginate: paginate -%}
    {%- endpaginate -%}
</div>