{%- comment -%}
--------------------------------------------------------------------------------------------------------------------
COUNTRY AND LANGUAGE SELECTORS
--------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}
{%- form 'localization', class: 'LocalizationForm' -%}
    {%- if country_selector -%}
    <tg-localization-selector class="CountrySelector">
        <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
        <span class="VisuallyHidden">{{ 'general.localization.country' | t }}</span>
        <div class="Dropdown">
            <button class="Button Button--outline Button--small Dropdown__Toggle" type="button" data-tg-toggle="Dropdown" aria-expanded="false">
                {%- if show_country_flag -%}<div class="Ratio CountryFlagWrapper">{{- localization.country | image_url: width: 60, format: 'jpg' | image_tag: loading: 'lazy', class: 'CountryFlag' -}}</div> {%- endif -%}

                {%- unless hide_country_label -%}
                    {%- if show_country_name -%}
                        <span>{{ localization.country.name }} ({{ localization.country.currency.iso_code }} {% if localization.country.currency.symbol %}{{ localization.country.currency.symbol }}){%- endif -%}</span>
                    {%- else -%}
                        <span>{{ localization.country.currency.iso_code }} {% if localization.country.currency.symbol %}{{ localization.country.currency.symbol }}{%- endif -%}</span>
                    {%- endif -%}
                {%- endunless -%}
            </button>
            <ul class="Dropdown__Body"></ul>
            <template>
                {%- for country in localization.available_countries -%}
                    <li class="Dropdown__Item {% if country.iso_code == localization.country.iso_code %}Active{%- endif %}">
                        <button type="submit" name="country_code" class="Button Button--small" value="{{ country.iso_code }}">
                            {%- if show_country_flag -%}
                                <div class="Ratio CountryFlagWrapper">{{- country | image_url: width: 60, format: 'jpg' | image_tag: loading: 'lazy', class: 'CountryFlag' -}}</div>
                            {%- endif -%}
                            <span>{{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
                        </button>
                    </li>
                {%- endfor -%}
            </template>
        </div>
    </tg-localization-selector>
    {%- endif -%}

    {%- if language_selector -%}
    <tg-localization-selector class="LanguageSelector">
        <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
        <span class="VisuallyHidden">{{ 'general.localization.language' | t }}</span>
        <div class="Dropdown">
            <button class="Button Button--outline Button--small Dropdown__Toggle" type="button" data-tg-toggle="Dropdown" aria-expanded="false">
                {{ localization.language.endonym_name | capitalize }}
            </button>
            <ul class="Dropdown__Body"></ul>
            <template>
                {%- for language in localization.available_languages -%}
                    <li class="Dropdown__Item {% if language.iso_code == localization.language.iso_code %}Active{%- endif %}">
                        <button type="submit" name="locale_code" class="Button Button--small" value="{{ language.iso_code }}">
                            {{ language.endonym_name | capitalize }}
                        </button>
                    </li>
                {%- endfor -%}
            </template>
        </div>
    </tg-localization-selector>
    {%- endif -%}
{%- endform -%}

<script src="{{ 'popper.js' | asset_url }}" defer="defer"></script> 
