{%- if section.settings.layout_mode == 'carousel' -%}
  {{ 'component-carousel.css' | asset_url | stylesheet_tag }}
{%- endif -%}
{%- if section.settings.enable_quick_add -%}
  <script src="{{ 'component-quick-add-to-cart-button.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<script src="{{ 'section-featured-collection.js' | asset_url }}" defer="defer"></script>

{%- if section.settings.layout_mode == 'carousel' -%}
  {%- capture carousel_options -%}
    {
      "freeMode": true,
      "slidesPerView": "auto",
      "navigation": {
        "enabled": false,
        "nextEl": ".Carousel__NavNext",
        "prevEl": ".Carousel__NavPrev"
      },
      "breakpoints": {
        "640": {
          "slidesPerView": "auto",
          "freeMode": false,
          "navigation": {
            "enabled": true,
            "nextEl": ".Carousel__NavNext",
            "prevEl": ".Carousel__NavPrev"
          }
        }
      }
    }
  {%- endcapture -%}
{%- endif -%}
{%- capture section_settings -%}
{
  "layout": {{ section.settings.layout_mode | json }},
  "animationType": {{ section.settings.animation_type | json }}
}
{%- endcapture -%}

{%- assign desktop_items_per_row = section.settings.grid_desktop_items_per_row -%}
{%- assign mobile_items_per_row  = section.settings.grid_mobile_items_per_row | times: 1 -%}

{%- assign collection = section.settings.collection -%}

{%- assign item_count = section.settings.grid_items_count -%}

<style type="text/css">
  section-featured-collection{
    display: block;
  }
</style>
<section-featured-collection class="Container Container--specialSpacingFirstSection {% if section.settings.section_width == 'full_width' %}Container--fluid{% endif %} Container--{{ section.settings.section_spacing }} FeaturedCollection" data-section-id="{{ section.id }}" data-section-settings='{{ section_settings }}'>

    <header class="SectionHeader SectionHeader--{{ section.settings.header_align }}">
      <div class="SectionHeader__Text">
        {%- if section.settings.heading != blank -%}
            <h2 class="SectionHeader__Heading CustomSize {{ section.settings.heading_font_size }}">{{ section.settings.heading }}</h2>
        {%- endif -%}

        {%- if section.settings.subheading != blank -%}
            <div class="SectionHeader__Subheading TextMuted">{{ section.settings.subheading }} </div>
        {%- endif -%}
      </div>

      {%- if section.settings.header_align == 'left' and section.settings.button_label != blank -%} 
        <div class="SectionHeader__Button"> 
          <a href="{{ collection.url }}" class="SectionHeader__Button Button Button--outline">{{ section.settings.button_label | escape }}</a>        
        </div>
      {%- endif -%}
    </header>

    <div class="SectionBody FeaturedCollection__Body ProductListWrapper Animate {% if section.settings.animation_type == 'staggering' and section.settings.layout_mode == 'grid' %}Animate--staggering{% endif %}">
      {%- if collection != blank and collection != empty -%}

        {%- if collection.products_count < item_count -%}
          {%- assign item_count = collection.products_count -%}
        {%- endif -%}

        {%- if section.settings.layout_mode == 'grid' -%}
          <div class="ProductList ProductList--grid Grid">
            {%- for product in collection.products limit: item_count -%}
              {% assign lazy_load = true %}
              {%- if section.index < 3 and forloop.index < 3 -%}
                {%- assign lazy_load = false -%}
              {%- endif -%}
              <div class="Grid__Item 1/{{ mobile_items_per_row }}--small 1/{{ desktop_items_per_row }}--medium-up">
                {% render 'product-card', product: product, lazy_load: lazy_load, section_is_grid_width: section.settings.section_width, show_rating: section.settings.show_rating, show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor, show_swatches: section.settings.show_swatches, show_quick_add: section.settings.enable_quick_add %}
              </div>
            {%- endfor -%}
          </div>
        {%- else -%}
          <div class="ProductList ProductList--carousel Carousel" data-carousel-config='{{ carousel_options }}'>
            <div class="CarouselWrapper">
              {%- for product in collection.products limit: item_count -%}
                {% assign lazy_load = true %}
                {%- if section.index < 3 and forloop.index < 3 -%}
                  {%- assign lazy_load = false -%}
                {%- endif -%}
                <div class="Carousel__Item 1/{{ mobile_items_per_row }}--small 1/{{ desktop_items_per_row }}--medium-up">
                  {% render 'product-card', product: product, lazy_load: lazy_load, card_mobile_items_per_row: 1.47, section_is_grid_width: section.settings.section_width, show_rating: section.settings.show_rating, show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor, show_swatches: section.settings.show_swatches, show_quick_add: section.settings.enable_quick_add %}
                </div>
              {%- endfor -%}
            </div>
            <div class="Carousel__NavPrev">
              {%- render 'icons', icon: 'nav-right' -%}
            </div>
            <div class="Carousel__NavNext">
              {%- render 'icons', icon: 'nav-right' -%}
            </div>
          </div>
        {%- endif -%}
      {%- else -%}
        {%- if section.settings.layout_mode == 'grid' -%}
          <div class="ProductList ProductList--grid Grid">
            {%- for i in (1..section.settings.grid_items_count) -%}
              <div class="Grid__Item 1/{{ mobile_items_per_row }}--small 1/{{ desktop_items_per_row }}--medium-up">
                {% render 'product-card-placeholder', show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor %}
              </div>
            {%- endfor -%}
          </div>
        {%- else -%}
           <div class="ProductList ProductList--carousel Carousel" data-carousel-config='{{ carousel_options }}'>
            <div class="CarouselWrapper">
              {%- for i in (1..section.settings.grid_items_count) -%}
                <div class="Carousel__Item 1/{{ mobile_items_per_row }}--small 1/{{ desktop_items_per_row }}--medium-up">
                  {% render 'product-card-placeholder', show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor %}
                </div>
              {%- endfor -%}
            </div>
            <div class="Carousel__NavPrev">
              {%- render 'icons', icon: 'nav-right' -%}
            </div>
            <div class="Carousel__NavNext">
              {%- render 'icons', icon: 'nav-right' -%}
            </div>
           </div>
        {%- endif -%}
      {%- endif -%}

    </div>

    {%- if section.settings.header_align == 'center' and section.settings.button_label != blank -%} 
      <footer class="SectionFooter TextCenter">
          <a class="SectionFooter__Button Button Button--outline" href="{{ collection.url }}">{{ section.settings.button_label | escape }}</a>
      </footer>
    {%- endif -%}

</section-featured-collection>

{% schema %}
{
  "name": "Featured collection",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "label": "Section width",
      "options": [
        {
          "value": "default",
          "label": "Grid"
        },
        {
          "value": "full_width",
          "label": "Full width"
        }
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "section_spacing",
      "label": "Section spacing",
      "options": [
        {
          "value": "spacingSmall",
          "label": "Small"
        },
        {
          "value": "spacingMedium",
          "label": "Medium"
        },
        {
          "value": "spacingLarge",
          "label": "Large"
        }
      ],
      "default": "spacingMedium"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "select",
      "id": "layout_mode",
      "label": "Layout",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "carousel",
          "label": "Carousel"
        }
      ],
      "default": "grid"
    },
    {
      "type": "select",
      "id": "animation_type",
      "label": "Animation type",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "staggering",
          "label": "Staggering"
        }
      ],
      "default": "staggering",
      "info": "Visible when the ‘Layout’ setting is set to Grid."
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "select",
      "id": "header_align",
      "label": "Header alignment",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "heading_font_size",
      "label": "Heading size",
      "options": [
        {
          "value": "HeadlineSmall",
          "label": "Small"
        },
        {
          "value": "HeadlineMedium",
          "label": "Medium"
        },
        {
          "value": "HeadlineLarge",
          "label": "Large"
        }
      ],
      "default": "HeadlineMedium"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "View all products"
    },
    {
      "type": "header",
      "content": "Grid"
    },
    {
      "type": "range",
      "id": "grid_items_count",
      "min": 2,
      "max": 24,
      "step": 1,
      "label": "Maximum products to show",
      "default": 8
    },
    {
      "type": "range",
      "min": 2,
      "max": 6,
      "step": 1,
      "id": "grid_desktop_items_per_row",
      "label": "Number of columns on desktop",
      "default": 4
    },
    {
      "type": "select",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "id": "grid_mobile_items_per_row",
      "label": "Number of columns on mobile",
      "default": "2",
      "info": "Visible when the ‘Layout’ setting is set to Grid."
    },
    {
      "type": "header",
      "content": "Product card"
    },
    {
      "type": "checkbox",
      "id": "show_product_info",
      "label": "Show product info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "label": "Show product rating",
      "default": false,
      "info": "To display a rating, add a product rating app. [Learn more](https://help.shopify.com/manual/online-store/themes/theme-structure/theme-features#featured-collection-show-product-rating)"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_swatches",
      "label": "Show swatch",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "Enable quick add button",
      "info": "You can set button style and position in [Theme settings](/editor?context=theme&category=product)."
    }
  ],
  "presets": [
    {
      "name": "Featured collection"
    }
  ]
}
{% endschema %}