{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-row.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign has_button = false
  assign has_two_buttons = false

  for block in section.blocks
    case block.type
      when 'button'
        if has_button
          assign has_two_buttons = true
        endif
        assign has_button = true
    endcase
  endfor 

  assign lazy_load = 'lazy'
  assign fetch_priority = 'auto'
  if section.index == 1 and section.location != 'footer'
    assign lazy_load = 'eager'
    assign fetch_priority = 'high'
  endif

  assign video_id = section.settings.self_hosted_video.id | default: section.settings.video_url.id
  assign video_alt = section.settings.self_hosted_video.alt | default: section.settings.description
  assign poster = section.settings.self_hosted_video.preview_image | default: section.settings.cover_image

  assign animation_image_loading_tag = 'div'
  assign animation_image_loading_class = 'DeferredMedia__CoverImage Image--fadeIn'
  if settings.animation_image_loading == 'circle_icon'
    assign animation_image_loading_tag = 'feature-img'
    assign animation_image_loading_class = 'Image--withLoader Image--fadeIn DeferredMedia__CoverImage'
  endif
-%}

{%- capture tg_sizes -%}
  {%- if section.settings.section_width == 'default' -%}
    (min-width: 641px) calc((min(100vw, {{ settings.container_max_width }}px) - 64px) / 2), 100vw
  {%- else -%}
    (min-width: 641px) calc(100vw / 2), 100vw
  {%- endif -%}
{%- endcapture -%}

<style>
  {%- if section.settings.background_color != blank -%}
    #section-{{ section.id }} .FeatureRow__ContentWrapper {
      background: {{ section.settings.background_color }};
    }
  {%- endif -%}

  {%- if section.settings.text_color != blank -%}
    #section-{{ section.id }} .SectionHeader{
      --tg-section-header-text-color: {{ section.settings.text_color }};
    }
  {%- endif -%}
</style>

<div id="section-{{ section.id }}" class="Container Container--specialSpacingFirstSection Container--{{ section.settings.section_spacing }} {% if section.settings.section_width == 'full_width' %}Container--fluid{% endif %} FeaturedRow FeaturedRow--image{{ section.settings.video_position }}">
  
    <div class="FeaturedRow__Body">

      <div class="FeatureRow__ContentWrapper {% if section.settings.background_color != blank %}FeatureRow__ContentWrapper--withBackgroundColor{% endif %}">
        <div class="FeatureRow__Content FeatureRow__Content--align{{ section.settings.text_align }}">
            <header class="SectionHeader">
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when 'heading' -%}
                    <h2 class="SectionHeader__Heading CustomSize {{ block.settings.heading_font_size }}" {{ block.shopify_attributes }}>
                      {{ block.settings.text }}
                    </h2>

                  {%- when 'subheading' -%}
                    <h3 class="SectionHeader__Subheading" {{ block.shopify_attributes }}>{{ block.settings.text }}</h3>
                    
                  {%- when 'description' -%}
                    <div class="SectionHeader__Description RTE" {{ block.shopify_attributes }}>
                      {{ block.settings.text }}
                    </div>
                {%- endcase -%}
                
              {%- endfor -%}

              {%- if has_button -%}
                <div class="SectionHeader__ButtonWrapper">
                  <div class="ButtonGroup {% if has_two_buttons %}ButtonGroup--smallSize{% endif %}">
                    {%- for block in section.blocks -%}
                      {%- case block.type -%}
                        {%- when 'button' -%}
                          <a href="{{ block.settings.link }}" class="Button Button--{{ block.settings.style }}" {{ block.shopify_attributes }}>{{ block.settings.label | escape }}</a>
                      {%- endcase -%}
                    {%- endfor -%}
                  </div>
                </div>
              {%- endif -%}
            </header>
        </div>
      </div>

      <div class="FeaturedRow__ImageWrapper">
        <deferred-media  class="DeferredMedia VideoSection__Media{% if section.settings.self_hosted_video_mobile != blank %} HiddenSmall{% endif %}" data-tg-video-auto="{% if section.settings.enable_video_autoplay %}1{% else %}0{% endif %}">
          {%- if poster != blank -%}
            <{{- animation_image_loading_tag }} class="DeferredMedia__CoverImageWrapper Ratio" 
              style="--tg-aspect-ratio: {{ poster.aspect_ratio }};">
      
              {{ poster | image_url: width: 3840 | image_tag:
                loading: lazy_load,
                fetchpriority: fetch_priority,
                sizes: tg_sizes,
                widths: '360, 535, 750, 1070, 1500, 2000, 3000',
                class: animation_image_loading_class,
                alt: video_alt
              }}
      
              {%- if settings.animation_image_loading != 'none' -%}
                {%- unless section.settings.enable_video_autoplay -%}
                  <span class="Image--loader"></span> 
                {%- endunless -%} 
              {%- endif -%}
              {%- if section.settings.video_url != blank -%}
                <button class="Button Button--icon Button--play" {% if section.settings.video_url != blank %}id="Deferred-Cover-Modal-{{ section.id }}-{{ video_id }}"{% endif %} >{% render 'icons', icon: 'play-fill' %}</button>
              {%- endif -%}
            </{{- animation_image_loading_tag }}>
          {%- endif -%}
      
          {%- if poster == blank -%}
            <div class="DeferredMedia__CoverImageWrapper Ratio" style="--tg-aspect-ratio:  1.7777777777778;">
              {%- if section.settings.enable_video_autoplay == false -%}
                {{ 'lifestyle-2' | placeholder_svg_tag: 'DeferredMedia__CoverImage SvgPlaceholder' }}
              {%- endif -%}
              {%- if section.settings.video_url != blank -%}
                <button class="Button Button--icon Button--play" id="Deferred-Cover-Modal-{{ section.id }}-{{ video_id }}">{% render 'icons', icon: 'play-fill' %}</button>
              {%- endif -%}
            </div>
          {%- endif -%}
      
          <template>
            {%- liquid
              assign video_autoply = section.settings.enable_video_autoplay 
              assign video_mute = 0
              assign video_controls = 1
      
              assign video_self_host_mute = false
      
              if video_autoply
                assign video_mute = 1
                assign video_self_host_mute = true
              endif
              unless section.settings.show_video_controls
                assign video_controls = 0
              endunless
            -%}
            {%- if section.settings.self_hosted_video == null and section.settings.video_url != null -%}
              {%- liquid
                assign loop = ''
                if section.settings.enable_video_looping
                  assign loop = '&loop=1&playlist=' | append: video_id
                endif
              -%}
              {%- if section.settings.video_url.type == 'youtube' -%}
                <iframe src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1&controls={{ video_controls }}&mute={{ video_mute }}{{ loop }}" class="js-youtube" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
              {%- else -%}
                <iframe src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1&controls={{ video_controls }}&muted={{ video_mute }}{{ loop }}&autopause=0" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
              {%- endif -%}
            {%- else -%}
              {{ section.settings.self_hosted_video
                | video_tag:
                  class: 'DeferredMedia__SelfVideo',
                  image_size: "1100x",
                  autoplay: video_autoply,
                  loop: section.settings.enable_video_looping,
                  controls: section.settings.show_video_controls,
                  muted: video_self_host_mute,
                  playsinline: ""
              }}
            {%- endif -%}
          </template>
      
        </deferred-media>
       </div>
    </div>
  
</div>

{% schema %}
{
  "name": "Video with text",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "label": "Section width",
      "options": [
        {
          "value": "default",
          "label": "Grid"
        },
        {
          "value": "full_width",
          "label": "Full width"
        }
      ],
      "default": "default"
    },
    {
      "type": "select",
      "id": "section_spacing",
      "label": "Section spacing",
      "options": [
        {
          "value": "spacingSmall",
          "label": "Small"
        },
        {
          "value": "spacingMedium",
          "label": "Medium"
        },
        {
          "value": "spacingLarge",
          "label": "Large"
        }
      ],
      "default": "spacingMedium"
    },
    {
      "type": "header",
      "content": "Video"
    },
    {
      "type": "checkbox",
      "id": "show_video_controls",
      "label": "Show video controls",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Play video on loop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_autoplay",
      "label": "Mute autoplay video",
      "default": true
    },
    {
      "type": "select",
      "id": "video_position",
      "label": "Video position",
      "options": [
        {
          "value": "Left",
          "label": "Left"
        },
        {
          "value": "Right",
          "label": "Right"
        }
      ],
      "default": "Left"
    },
    {
      "type": "header",
      "content": "Shopify-hosted video"
    },
    {
      "type": "video",
      "id": "self_hosted_video",
      "label": "Video"
    },
    {
      "type": "header",
      "content": "Or embed video from URL"
    },
    {
      "type": "paragraph",
      "content": "Shows when no Shopify-hosted video is selected."
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "Cover image"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "Video URL",
      "placeholder": "Use a YouTube or Vimeo URL"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Video alt text",
      "info": "Describe the video for customers using screen readers. [Learn more](https://help.shopify.com/manual/online-store/themes/theme-structure/theme-features#video-block)."
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "Left",
          "label": "Left"
        },
        {
          "value": "Center",
          "label": "Center"
        },
        {
          "value": "Right",
          "label": "Right"
        }
      ],
      "default": "Left"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Image with text"
        },
        {
          "type": "select",
          "id": "heading_font_size",
          "label": "Size",
          "options": [
            {
              "value": "HeadlineSmall",
              "label": "Small"
            },
            {
              "value": "HeadlineMedium",
              "label": "Medium"
            },
            {
              "value": "HeadlineLarge",
              "label": "Large"
            }
          ],
          "default": "HeadlineLarge"
        }
      ]
    },
    {
      "type": "subheading",
      "name": "Subeading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Label",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "style",
          "label": "Style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "outline",
              "label": "Outline"
            },
            {
              "value": "underline",
              "label": "Underline"
            }
          ],
          "default": "secondary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Video with text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "description"
        }
      ]
    }
  ]
}
{% endschema %}